html {
  font-family: sans-serif;
}

p {
  font-size: 18px;
  line-height: 25px;
  color: #333;
}

a {text-decoration: none; color: #4ebf4a;}
a:hover {text-decoration: underline; color: #555;}

/*
list.html
*/

.list-title {
  width: fit-content;
  margin: auto;
  padding: 10px;

}

.list-title > h1 {
  text-align: center;
  margin: 10px auto;
  border-bottom: 4px solid #4ebf4a;
}

.lastmod {
  font-weight: bold;
}

.lastmod, .postsummary {
  margin: 2px 2px 0;
  font-size: 15px;
}

.posttitle {
  font-size: 30px;
  margin: 0;
}

.card {
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  max-width: 700px;
}

.card:hover {
  background-color: #4ebf4a;
}

.card > a {text-decoration: none;}
.card > a:visited { color:#000000 }
.card > a:hover {
  color: white;
}

/*
single.html
*/

.single {
  background-color: white;
  border-radius: 5px;
}

.header {
  margin: 20px auto;
  padding: 10px;
  border-bottom: 2px solid black;
  max-width: 700px;
}

.header > .posttitle {
  font-size: 40px;
}

.taxonomies {
  margin: 10px 0 0;
}

#tags, #categories {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#tags > li, #categories > li {
  display: inline-block;
  list-style-type: none;
}

#categories > li > a {
  background-color: #4ebf4a;
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
}

#categories > li > a:hover {
  background-color: #555;
  text-decoration: none;
}

#tags > li > a {
  border: 1px solid #4ebf4a;
  padding: 2px 4px;
  border-radius: 5px;
}

#tags > li > a:hover {
  border: 1px solid #555;
  text-decoration: none;
}

.content {
  margin: 10px auto;
  max-width: 700px;
}

/*
Table of Contents
*/

.toc {
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* list style for h1 */
.toc > nav > ul {
  list-style-type: none;
}

/* list style for h2, h3 */
.toc > nav > ul > li > ul,
.toc > nav > ul > li > ul > li > ul {
  list-style-type: decimal;
  padding-left: 30px;
}

/* list style for h4 */
.toc > nav > ul > li > ul > li > ul > li > ul {
  list-style-type: circle;
}

/* padding per h1 */
.toc > nav > ul > li {
  padding-top: 4px;
}

/* padding per h2, h3 */
.toc > nav > ul > li > ul > li,
.toc > nav > ul > li > ul > li > ul > li {
  padding: 3px 0;
}

/* styling of all toc */
.toc > nav > ul > li > a,
.toc > nav > ul > li > ul > li > a,
.toc > nav > ul > li > ul > li > ul > li > a,
.toc > nav > ul > li > ul > li > ul > li > ul > li > a {
  text-decoration: none;
  color: black;
  padding: 3px;
  border-radius: 3px;
}
.toc > nav > ul > li > a:visited,
.toc > nav > ul > li > ul > li > a:visited,
.toc > nav > ul > li > ul > li > ul > li > a:visited,
.toc > nav > ul > li > ul > li > ul > li > ul > li > a:visited {color: black;}

.toc > nav > ul > li > a:hover,
.toc > nav > ul > li > ul > li > a:hover,
.toc > nav > ul > li > ul > li > ul > li > a:hover,
.toc > nav > ul > li > ul > li > ul > li > ul > li > a:hover {text-decoration: underline; background-color: #eee;}

/*
Subheadings
*/

.content > h1 {
  font-size: 30px;
  margin-top: 30px;
  padding-left: 5px;
  border-bottom: 4px solid #4ebf4a;
  color: black;
  /* padding: 10px;
  background-color: #4ebf4a;
  color: white; */
}

.content > h3, .content > h4 {
  padding-left: 10px;
}

.content > h2 {
  font-size: 23px;
  padding-left: 5px;
  margin-top: 30px;
  margin-left: 5px;
  border-left: 5px solid #4ebf4a;
}

.content > h4 {
  color: #3e9439;
}

/*
paragraphs
*/

.content > p {
  padding: 0 10px;
}

/*
terms.html
*/

.terms {
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: white;
}

.terms > ul {
  width: 40%;
  margin: auto;
  padding:20px;
  list-style-type:none;
  line-height: 25px;
}

/*
mobile
*/
@media only screen and (max-width: 600px) {

  body {
    background-color: #4ebf4a;
  }

  p {
    font-size: 16px;
  }

  /*
  list.html
  */

  .list-title > h1 {
    color: white;
    border-bottom: 4px solid white;
  }

  .card {
    margin: 10px 0;
    padding: 15px 20px;
    background-color: white;
    border-radius: 5px;
  }

  /*
  single.html
  */
  .single {
    background-color: white;
  }

  .header {
    margin: 10px 10px 20px;
    padding: 15px 10px;
    border-bottom: 2px solid black;
  }

  #tags, #categories {
    display: block;
    margin: 15px 0 0;
  }

  .content {
    margin: 10px 0;
  }

  .toc {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
  }

  .content > h1 {
    font-size: 27px;
  }

  .content > h2 {
    font-size: 20px;
  }

  .content > p, .content > h1, .content > h2, .content > h3, .content > h4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  /*
  terms.html
  */
  .terms {
    margin: 10px auto;
  }

  .img-80 > img {
    max-width: 100% !important;
  }

  /*
  footer
  */
  /* .footer {
    border-top: 0px solid white !important;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px !important;
  } */

  .footer > p > a {
    color: white;
  }
}

/*
images
*/

.img-80 > img {
  display: block;
  margin: 30px auto 0;
  max-width: 80%;
  height: auto;
  border: 2px solid #ddd;
  padding: 8px;
  border-radius: 5px;
}

.img-80 > figcaption > h4 {
  text-align: center;
  font-weight: normal;
  margin: 5px auto 30px;
}

/*
code
*/
pre > code {
  background: #eee !important;
  padding: 20px !important;
  border-radius: 5px;
}
code > span {
  font-family:"Source Code Pro";
}

/*
footer
*/
.footer {
  margin-top: 50px;
  border-top: 2px solid #000;
  text-align: center;
}
