<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="UTF-8">
	  <title>{{ .Title }}</title>
		<!-- CSS -->
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/fontello.css">
		<!-- Viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!-- highlight.js -->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/darcula.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		<!-- Font -->
		<link href='https://fonts.googleapis.com/css?family=Open Sans:400,700' rel='stylesheet'>
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500" rel="stylesheet">
		<!-- favicon -->
		<link rel="icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">
    <!-- Open Graph -->
    {{ block "og" . }}

    {{ end }}
  </head>
  <body>

  {{ block "nav" . }}
    {{ partial "nav.html" . }}
  {{ end }}

  {{ block "main" . }}

  {{ end }}

{{ partial "footer.html" . }}
